


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Courses</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Setting</th>
                            
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Setting</th>
                        </tr>
                    </tfoot>

                    <tbody>

                        <% users.forEach(user=>{%>
                            <td><%=user.username%></td>
                            <td> <%=user.email%></td>
                            <td><% user.roles.forEach(role =>{%>
                                *<%= role.name%>*            
                            <%})%></td>

                                <td>
                                    <form action="/admin/user/<%= user._id %>?_method=DELETE" method="POST">

                                        <button type="submit" class="btn btn-danger btn-circle mx-1 ">
                                        <i class="fas fa-trash"></i></button>
                                        
                                        <a href="/admin/user/edit/<%= user.id %>" class="btn btn-warning btn-circle mx-3 ">
                                        <i class="fas fa-exclamation-triangle"></i></a>

                                        <a href="/admin/user/adminAccess/<%= user.id %>" class="btn <%- user.admin ? "btn-primary" : "btn-success" %>  btn-circle mr-3">
                                            <% if(user.admin ){%> 
                                                <i class="fas fa-flag"></i>
                                            <%} else{%>
                                                <i class="fas fa-check"></i>
                                            <%}%>  
                                        </a>

                                        <a href="/admin/user/addRole/<%= user._id %>" class="btn btn-info btn-circle">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    
                                    </form>
                                </td>
                            </tr>                        
                        
                        
                        <% }) %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



